<!DOCTYPE html>
<html>
  <head>
    <style>
      body{background: #0d1521; font-family: verdana; color: #fff; padding:30px;}
      h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
      p{font-size: 16px; text-align: center;}
    </style>
  </head>
  <body>
      <h1><%= data.who %></h1>
      <p>Welcome to <%= data.who %>'s profile </p>
      <p><strong>email: </strong><%= data.email %></p>
  </body>
</html>
